/* styles.css */

/* Table Styles */
.table-wrapper {
    overflow-x: auto; /* Enable horizontal scrolling for wide tables */
    margin-bottom: 20px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    padding: 8px;
    border: 1px solid #dddddd;
    text-align: left;
}

.custom-table th {
    background-color: #dd1f1f !important; /* Use !important to override other styles */
    color: #fff; /* Set text color for better visibility */
    /* Additional styles for table headers */
}
